.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    
}

.home__container h2 {
    margin: 15px;
}

.form__container {
    background-color: #0E2F57;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-height: 600px;
    max-width: 350px;
    border-radius: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 15px;
}


label, input, button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.register__button {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .home__container {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .form__container {
        max-width: 90%;
        width: 100%;
    }

    h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    .form {
        padding: 10px;
        margin: 10px;
    }

    label, input, button {
        width: 100%;
        box-sizing: border-box;
    }
}