.header__container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: var(--oscuro);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
}

.header__logo {
  width: 50px;
}

.header__title {
  color: var(--accent);
}
