/* profileTabs.css */
.profile__tabs .ant-tabs-tab {
  color: var(--blanco);
  font-family: var(--text);
  transition: color 0.3s ease;
}

.profile__tabs .ant-tabs-tab:hover {
  color: #00a1e0;
}

.profile-tabs .ant-tabs-ink-bar {
  background-color: #00a1e0 !important;
  width: 100% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  transition: left 0.3s, width 0.3s, transform 0.3s;
}

.profile-tabs .ant-tabs-tab:hover .ant-tabs-tab-btn,
.profile-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00a1e0;
  font-weight: bold;
}
