@import './assets/fonts/fonts.css';

:root {
  /* TIPOGRAFÍA */
  --title: 'Orbitron';
  --text: 'SpaceGrotesk';

  font-family: var(--text);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLORES */
  --oscuro: #242424;
  --azul: #2658a9;
  --accent: #00a1e0;
  --blanco: #ffffff;
}
